[Desktop Entry]
Name=ImagOP
Comment=Optimizes the sizes of images
Comment[tr]=Resimlerin boyutlarını optimize eder
Exec=imagop
Icon=imagop
Terminal=false
Type=Application
Categories=GTK;Graphics;
StartupNotify=true
Keywords=image;optimizer;imagop;compress;press
Keywords[tr]=resim;optimize;imagop;sıkıştır
